.react-table {
  width: 100%;
  margin: 10px 0;

  thead {
    border-bottom: 1px solid black;

    th {
      position: relative;
      border-right: 1px solid lightgrey;
      padding: 5px 0;
      cursor: pointer;
      &.ascending::after {
        content: '▼';
        position: absolute;
        right: 0;
      }

      &.descending::after {
        content: '▲';
        position: absolute;
        right: 0;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid grey;
      cursor: pointer;
      
      &:hover {
        background: lightcyan;
      }

      td {
        padding: 10px 0;
        text-align: center;

        min-width: 120px;
        max-width: 300px;

        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis; /* Добавляем многоточие */
      }
    }
  }
}
